.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
}

.article-header {
  background-color: #2b6777;
}

.article {
  border: solid 2px rgb(0, 0, 0);
  display: block;
}

.singleComment {
  display: grid;
  border: red 2px solid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.commentBody {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (min-width: 600px) {
  .article-page {
    text-align: center;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .article-header {
    background-color: #2b6777;
  }

  .App {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .CommentContainer {
    background-color: #f1f1f1;
    height: 93vh;
    overflow: auto;
    margin-left: 20px;
    text-align: justify;
  }
}
