.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
}

@media only screen and (min-width: 600px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.article {
  border: solid 2px green;
}
