.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  background-color: #fc4a1a;
}

.article-page {
  background-color: #4abdac;
  margin: 10px;
  border: 2px solid black;
}

.article {
  display: block;
  height: max-content;
  color: black !important;
  text-decoration: none;
  background-color: #4abdac;
  padding: 20px;
  margin: 10px;
}

.CommentContainer {
  margin: 10px;
  background-color: #ffc107;
}

.singleComment {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: #4abdac;
  margin: 3px;
}

.commentBody {
  grid-column-start: 1;
  grid-column-end: 3;
}

.article-info {
  display: grid;
  grid-template-columns: auto auto;
}

.parameters {
  background-color: #ffc107;
}

.navbar-custom {
  background-color: lightgreen;
}

@media only screen and (min-width: 600px) {
  .article-page {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    height: fit-content;
  }

  .article {
    height: 18em;
  }

  .App {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .CommentContainer {
    height: 93vh;
    overflow: auto;
    margin-left: 20px;
    text-align: justify;
  }

  .commentForm {
    margin-left: 5px;
    text-align: left;
  }

  .parameters {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
